<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Happy Onam Animation</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/intro.css') }}"
    />
    <script src="/static/lib/socket.io.js"></script>
    <script src="/static/javaScript/socketClient.js"></script>
    <script src="/static/javaScript/intro.js"></script>
  </head>
  <body>
    <div class="image-container">
      <img
        src="/static/images/onambg.jpg"
        alt="Happy Onam"
        class="animated-image"
      />
    </div>
  </body>
</html>
